<div class='col-lg-3'>
    Folders:
    <ul data-bind="foreach: AllFolders">
        <li data-bind="singleOrDoubleClick: {click: $parent.fnSelectFolder} ">
            <span data-bind="text: Name"> </span>
            <!--butoon delete- visible only if doubleclick-->
            <button data-bind="click: $parent.fnDeleteFolder">Delete</button>

        </li>
    </ul>
    <!--Add a new folder-->
    <div class='col-lg-12' data-bind="with: NewFolder">
        <div class='col-lg-3'>Name:</div>
        <div class='col-lg-7'>
            <input type='text' class="form-control" data-bind="value:Name" />
        </div>
        <div class='col-lg-2'>
            <input type="button" value="Add" id="btnAddFolder" data-bind="click: $parent.fnAddNewFolder.bind(undefined,$data)" />
            <!---->
        </div>
    </div>
</div>
