@model IEnumerable<Sinq.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container ">
    <div class='col-lg-6' data-bind="with: newActivity">
        <div class='col-lg-3'>Nume:</div>

        <div class='col-lg-8 noPadding'>
            <input type='text' class="form-control" data-bind="attr: { placeholder: name}" />
        </div>

        <div class='col-lg-1 noPadding'>

            <div class="form-group">

                <div class='input-group date' id='datetimepicker'>
                    <input type='hidden' class="form-control" id="dueDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class='col-lg-2'>
        <input type="button" value="Add" id="btnAddActivity" data-bind="click: $root.addNewActivity" />
    </div>
</div>




<h3>Activity</h3>
<ul data-bind="foreach: allActivities">
    <li>
        Name at position <span data-bind="text: $index"> </span>:
        <span data-bind="text: name"> </span>
        <a href="#" data-bind="click: $parent.removeActivity">Remove</a>
        </li>
</ul>

<button data-bind="click: addActivity">AddActivity</button>


<ul data-bind="foreach: allActivities">
    <li>
        <span data-bind="text: name"> </span>
    </li>
</ul>



@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript">
        
        function Activity(data) {
            var self = this;

            self.name = ko.observable(data.name || '');
            self.dueDate = ko.observable(data.dueDate || '');
          
        }

        
        function ActivityOverviewVM() {
            var self = this;
            self.newActivity = ko.observable(new Activity({ name: 'test' }));
            self.allActivities = ko.observableArray(
                [
                    new Activity({ name: 'test1' }),
                    new Activity({ name: 'test2'})
                ])

            self.addNewActivity = function () {
                $.ajax({
                    url: "/api/activities",
                    method: "POST",
                    async: false,
                    data: {
                        Id: -1,
                        Name: self.newActivity().name(),
                        DueDate: undefined
                    }
                }).done(function (result) {
                    alert(result)
                })
            }

            self.addActivity = function () {
                self.allActivities.push(new Activity({ name: 'test3' }));
            };

            self.removeActivity = function () {
                self.allActivities.remove(this);
            }

        }
        ko.applyBindings(new ActivityOverviewVM());

        $('#datetimepicker').datetimepicker();
        $('#Name').attr("placeholder", "Type activity name here");

        
       

        // weird javascript code
        //function test() { return { prop: "asd" }};
        //test['a'] = function () { alert(3) } ;
        //test['a']()
        //test.a();
        //alert(test().prop);

        
    </script>
}