@model IEnumerable<Sinq.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="container">

    @*Folders*@
    <folder-list params="SelectedFolder: SelectedFolder"></folder-list>
    
    @*Activities*@

    @*List the activities off a selected folder*@
    <activity-list params="SelectedFolder: SelectedFolder"></activity-list>

    @*Add a new activity in a folder*@
    <activity-add params="SelectedFolder: SelectedFolder"></activity-add>

    @*Show the details for a selected activity*@
    <activity-details params="SelectedActivity: SelectedActivity"></activity-details>

 </div>



@section Scripts {
    <script type="text/javascript" src="/Scripts/app/activitiesOverview.js"></script>
}