@model IEnumerable<Sinq.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container ">
    <div class='col-lg-6' data-bind="with: newActivity">
        <div class='col-lg-3'>Nume:</div>

        <div class='col-lg-8 noPadding'>
            <input type='text' class="form-control" data-bind="value:name, attr: { placeholder: name}" />
        </div>

        <div class='col-lg-1 noPadding'>

            <div class="form-group">

                <div class='input-group date' id='datetimepicker'>
                    <input type='hidden' class="form-control" id="dueDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class='col-lg-2'>
        <input type="button" value="Add" id="btnAddActivity" data-bind="click: $root.addNewActivity" />
    </div>
</div>




<h3>Activities</h3>
<ul data-bind="foreach: allActivities">
    <li data-bind="singleOrDoubleClick: { dblclick: $root.showActivity.bind(undefined,$data) } ">
        <label><input type="checkbox" data-bind="checked: completed, event: { change: $parent.completeActivity.bind(undefined,$data)} "></label>
        Name at position <span data-bind="text: $index"> </span>:
        <span data-bind="text: name"> </span>
        

    </li>
</ul>

<button data-bind="click: addActivity">AddActivity</button>


<div class="container "> 
    <div class='col-lg-6' data-bind="with: shownActivity">
        <div class='col-lg-4'>Activity:</div>
        <div class='col-lg-8 noPadding'>
            <input type='text' class="form-control" data-bind="value:name, attr: { placeholder: name}" />
        </div>
        
        <div class='col-lg-4'>DueDate:</div>
        <div class='col-lg-8 noPadding'>
            <input type='text' class="form-control" data-bind="value:dueDate, attr: { placeholder: dueDate}" />
        </div>
        
        <div class ='col-lg-4'>Assigned time(in minutes):</div>
        <div calss='col-lg-8 noPadding'>
            <input type='number' class="form-inline" data-bind="value:assignedTime, attr:{placeholder: assignedTime}"> 
        </div>
       <br>

        <div>
            <button data-bind="click: $parent.removeActivity.bind(undefined,id)">Remove</button>
        </div>
        
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript">
        
        function Activity(data) {
            var self = this;
            self.name = ko.observable(data.Name || '');
            self.dueDate = ko.observable(data.dueDate || '');
            self.id = ko.observable(data.Id || '');
            self.complete = ko.observable(data.Complete || '');
            self.shownActivity = ko.observable();
            self.assignedTime = ko.observable(data.assignedTime || '');
          
        }

        
        function ActivityOverviewVM() {
            var self = this;
            self.newActivity = ko.observable(new Activity({ name: 'test' }));
            self.allActivities = ko.observableArray();

            self.addNewActivity = function () {
                $.ajax({
                    url: "/api/activities",
                    method: "POST",
                    async: false,
                    data: {
                        Id: -1,
                        Name: self.newActivity().name(),
                        DueDate: undefined
                    }
                }).done(function (result) {
                    alert(result)
                })
            }

            self.getAllActivities = function () {
                $.getJSON("/api/activities", function (data) {
                    self.allActivities(
                    $.each(data, function (index, value) {
                        return new Activity(value);
                    })
                   )
                    
                })
            }
            self.getAllActivities();

            self.addActivity = function () {
                self.allActivities.push(new Activity({ name: 'test3' }));
            };

            self.removeActivity = function (id) {
                $.ajax({
                    url: "/api/activities/"+id,
                    method: "Delete",
                    async: false,
                }).done(function (result) {  
              })
            }

            self.completeActivity = function (activity) {
                var url = "/api/activities/" + activity.id() + "/complete";
                $.ajax({
                    url: url,
                    method: "Put",
                    async: false,
                }).done(function (result) {
                    if (sefl.complet()!=self.complet()) {
                        sefl.complete() = null;
                    }
                })
            }

            self.showActivity = function (activity) {
                debugger;
            }
        }
        ko.applyBindings(new ActivityOverviewVM());

        $('#datetimepicker').datetimepicker();
        $('#Name').attr("placeholder", "Type activity name here");

        ko.bindingHandlers.singleOrDoubleClick = {
            init: function (element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
                var singleHandler = valueAccessor().click,
                    doubleHandler = valueAccessor().dblclick,
                    delay = valueAccessor().delay || 200,
                    clicks = 0;

                $(element).click(function (event) {
                    clicks++;
                    if (clicks === 1) {
                        setTimeout(function () {
                            if (clicks === 1) {
                                // Call the single click handler - passing viewModel as this 'this' object
                                // you may want to pass 'this' explicitly
                                if (singleHandler !== undefined) {
                                    singleHandler.call(viewModel, bindingContext.$data, event);
                                }
                            } else {
                                // Call the double click handler - passing viewModel as this 'this' object
                                // you may want to pass 'this' explicitly
                                if (doubleHandler !== undefined) {
                                    doubleHandler.call(viewModel, bindingContext.$data, event);
                                }
                            }
                            clicks = 0;
                        }, delay);
                    }
                });
            }
        };
       

        // weird javascript code
        //function test() { return { prop: "asd" }};
        //test['a'] = function () { alert(3) } ;
        //test['a']()
        //test.a();
        //alert(test().prop);

        
    </script>
}