<div class='col-lg-9' data-bind="if: ShowActivityList, visible: ShowActivityList">
    <span>Folders' activities: </span><!-- <span data-bind="text: SelectedFolder().Name"></span> -->
    <!-- The activities list -->
    <div class='col-lg-12'>
        <ul data-bind="foreach: AllActivities">
            <li data-bind="singleOrDoubleClick: { dblclick: $parent.fnSelectActivity} ">
                <label><input type="checkbox" data-bind="checked: $data.Completed, event: { change: $parent.fnCompleteActivity.bind(null,$data)} "></label>
                <span data-bind="text: Name"> </span>
                <button data-bind="click: $parent.fnChangeState">Start</button>
            </li>
        </ul>
        <button data-bind="click: $parent.fnSelectCompletedActivity">View completed activities</button>
        <ul data-bind="foreach: AllCompletedActivities">
            <li>
                <span data-bind="text: Name"></span>
            </li>
        </ul>
    </div>

</div>
